$primary-color: #458CDD;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$header-font-family: 'Abel', sans-serif;
$body-font-family: "Open Sans", sans-serif;

@import "../bower_components/foundation/scss/foundation";

body{
	background-color: #ddd;
}
.home-content{
	margin: 20px;
	padding: 20px;
	background-color: white;
}
.about-us-text{
	font-weight: 400;
	font-size: 1.2em;
}

.bio-block{
	border-top: 1px #eee solid;
	.icon{
		font-size: 2.5em;
	}
	.img-block{
		margin: 10px 10px 10px 0;
		&.right {
			text-align: right;
		}
	}
}

.social-icons {
	a {
		color: inherit;
		font-size: 1.75em;
		&:hover {
			color: #666;
		}
		margin: 0px 25px;
	}
}


@media #{$small-up} { }
@media #{$small-only} {
	.home-content{
		margin: 5px;
		padding: 10px;
	}
}

@media #{$medium-up} {
	.about-us-text{
		font-size: 1.25em;
	}
}
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }
