$primary-color: #DFA85E;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$header-font-family: 'Abel', sans-serif;
$body-font-family: "Open Sans", sans-serif;

@import "../bower_components/foundation/scss/foundation";
